@font-face {
    font-family: 'Montserrat';
    src: url(../foonts/MontserratAlternates-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../foonts/MontserratAlternates-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../foonts/MontserratAlternates-SemiBold.ttf);
    font-weight: 600;
}
